@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


body {
    margin: 0;
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    color: #fff7c9;
    justify-items: center;
    gap: 20px;
    font-family: "Lora", sans-serif;
}

header {
    padding: 10px;
    position: fixed;
    width: 100%;
}

nav>button,
.instagram {
    background: none;
    color: #f0f8ff;
    border: none;
    font-size: 15px;
    font-family: "Lora", sans-serif;
    height: 30px;

}

nav>button:hover,
.instagram:hover {
    cursor: pointer;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 21fr 110px;
    padding: 0px 20px;
}

.book-table {
    background-color: #fff7c9;
    color: black;
    border-radius: 5px;
    font-size: 15px;
    padding: 0px 10px;
    font-weight: 600;
    grid-column: 6 / 7;
}

.about {
    border-right: 1px solid aliceblue;
    padding-right: 15px;
    margin-right: 15px;
}

.instagram {
    background-image: url(assets/instagram.svg);
    background-size: cover;
    width: 30px;
    height: 30px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(57%) saturate(1835%) hue-rotate(178deg) brightness(103%) contrast(106%);

}

footer {
    padding: 10px;
    background-color: black;
    text-align: center;
    justify-self: end;
}


.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.background {
    display: flex;
    background-image: url(assets/bar.png);
    background-size: cover;
    height: 550px;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.title {
    background-image: url(assets/logo.png);
    background-size: cover;
    width: 450px;
    height: 225px;

}

.subtitle {
    font-size: 30px;
    color: #e9a366;
}

.desc {
    width: min(75%, 500px);
    text-align: justify;
}


.chefs {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 30px;
    border-bottom: 1px solid #fff7c9;
    padding-bottom: 25px;
}

.desc-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.portrait {
    width: 200px;
    height: 250px;
    background-image: url(assets/carmy.png);
    background-size: cover;

}

.portrait.sydney {
    background-image: url(assets/sydney.png);
}

.desc-carmy,
.desc-sydney {
    font-style: italic;
}

.chef-name {
    width: 300px;
    font-size: 22px;
}

/* Menu */

.menu-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.menu-title {
    font-size: 40px;
    font-weight: 500;
}

.menu-card {
    display: grid;
    width: 900px;
    height: 832px;
    row-gap: 25px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    border-top: 1px solid #fff7c9;
    border-bottom: 1px solid #fff7c9;
    padding: 30px 50px 70px;
}

.food {
    width: 200px;
    height: 200px;
    background-size: cover;
}

.food-title {
    font-size: 24px;
    font-weight: 500;
    color: #e9a366;
}

.food[pos="0"] {
    background-image: url(assets/food/lemonchicken.png);

}

.food[pos="1"] {
    background-image: url(assets/food/colaribs.png);
}

.food[pos="2"] {
    background-image: url(assets/food/ravioli.png);
}

.food[pos="3"] {
    background-image: url(assets/food/sandwich.png);
}