@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


body {
    margin: 0;
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    color: aliceblue;
    justify-items: center;
    gap: 20px;
    font-family: "Lora", sans-serif;
}

header {
    padding: 10px;
    position: fixed;
    width: 100%;
}

nav>button,
.instagram {
    background: none;
    color: #f0f8ff;
    border: none;
    font-size: 15px;
    font-family: "Lora", sans-serif;
    height: 30px;

}

nav>button:hover,
.instagram:hover {
    cursor: pointer;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 21fr 110px;
    padding: 0px 20px;
}

.book-table {
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
    font-size: 15px;
    padding: 0px 10px;
    font-weight: 600;
    grid-column: 6 / 7;
}

.about {
    border-right: 1px solid aliceblue;
    padding-right: 15px;
    margin-right: 15px;
}

.instagram {
    background-image: url(assets/instagram.svg);
    background-size: cover;
    width: 30px;
    height: 30px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(57%) saturate(1835%) hue-rotate(178deg) brightness(103%) contrast(106%);

}



footer {
    padding: 10px;
    background-color: black;
    text-align: center;
}


.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.background {
    display: flex;
    background-image: url(assets/bar.png);
    background-size: cover;
    height: 550px;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.title {
    background-image: url(assets/logo.png);
    background-size: cover;
    width: 450px;
    height: 225px;
}

.subtitle {
    font-size: 30px;
}

.desc {
    width: min(75%, 500px);
    text-align: justify;
}


.chefs {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 30px;
}

.desc-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.portrait {
    width: 200px;
    height: 250px;
    background-image: url(assets/carmy.png);
    background-size: cover;

}

.portrait.sydney {
    background-image: url(assets/sydney.png);
}

.desc-carmy,
.desc-sydney {
    font-style: italic;
}

.chef-name {
    width: 300px;
    font-size: 22px;
}